.cl2{
   width: auto; 
margin-top: 50px;


overflow: hidden;
}
.cart-total{
    margin-top: 60px;
}
.ct{
	border-color: transparent;
	width: initial;
	max-width: 50px;
}
@media only screen and(max-width: 800px){
	.cl2{
   width: 100%;
   min-width: 100%;



overflow: hidden;
}

}