
input[type=Button]{
	margin-top: 4px;
}
input[type=text]{
	width: 25rem;
}
 .im{
	margin-top: 10px;
	margin-bottom: 3px;
	height: 200px;
	width: 200px;
	border-radius: 200px;
}
.img-profile{
	margin-top: 0px;
	height: 150px;
	width: 150px;
	border-radius: 100px;
	border-color: 2px solid white;
}
.profile-center-element{
	padding: 1rem 10rem 1rem 10rem;
}
.profile-row{
	align-content: center;
}
.btn-warning{
	color: white;
}
.profile-address{
	padding-left: 110px;
    padding-right: 110px;
}
.profile-email{
	
	font-size: 2rem;
	font-family: 'Times New Roman', Times, serif;

	

}
.col{
	max-width: 100%;
	padding: 4px;
}