.card-body-order{
    margin:3px 20px 3px 20px;
}
.mb-5{
    margin:5px;
}
.order-img{
width : 8rem;
height : 10rem;
margin  : 0px;
padding : 0px;
}
.order-row{
    max-height: wrap;
}
.orderbody{
margin-top: 5rem
}
.order-card{
    margin:10px;
    padding-top: 2px;
}