.cl1{


max-width: 3in;
margin: 30px;
max-height: 3in;
overflow: hidden;
}
.cl1 :hover{
	text-decoration-color: red;
}



.card-img{
	max-width: 300px;
	align-items :center;
	width: 100px;

	height: 150px;

}
.bd{
	background-color: rgba(82, 242, 101,.3);
}