.cl1{


max-width: 3in;
margin: 30px;
max-height: 3in;
overflow: hidden;
}
.cl1 :hover{
	text-decoration-color: red;
}



.card-img{
	max-width: 300px;
	align-items :center;
	width: 190px;
    padding:10px 0px 10px 0px;
	height:200px;

}
.bd{
	background-color: rgba(82, 242, 101,.3);
}

.cardprice{
	font-size:  150%;
	font-family: 'Times New Roman', Times, serif,italic;
    color:rgb(148, 67, 67);
	
}



.slick-slide {
    padding:1.438rem;
    cursor: pointer;
}


.ellipsis {
	white-space: nowrap;
	text-overflow: scroll;
	overflow: hidden;
  }
  small{
	  opacity: 0.5;
  }
.title{
	font-family: 'fantasia';
}
.zoom:hover {
	-ms-transform: scale(1.2); /* IE 9 */
	-webkit-transform: scale(1.2); /* Safari 3-8 */
	transform: scale(1.2); 
  }
  .shadow{
	box-shadow: 4px 4px 5px 0 gray;
	height: 380px;
	width: 350px;
	background-color: #ffffff;
  }
  .crd{
	  margin :10px;
	  padding:  10px;
  }
@media only screen and (max-width: 1000px)
{
	.crd{
	  margin :0px;
	  padding:  10px;
  }
  .card-img{
	align-items :center;
	width: 70%;
    padding:1px;
	height:70%;
	max-height: 70%;

}
 .shadow{
	box-shadow: 4px 4px 5px 0 gray;
	height: auto;
	width: 70%;
	background-color: #ffffff;
  }
  .title{
	font-size: 100%; 
}
.cardprice{
	font-size:  70%;
	font-family: 'Times New Roman', Times, serif,italic;
    color:rgb(148, 67, 67);
	
}
}
@media only screen and (max-width: 800px)
{
	.crd{
	  margin :1px;
	  padding:  10px;
  }
  .card-img{
	align-items :center;
	width: 50%;
    padding:1px;
	height:50%;
	max-height: 50%;

}
 .shadow{
	box-shadow: 4px 4px 5px 0 gray;
	height: auto;
	width: 50%;
	background-color: #ffffff;
  }
  .pd{
  	padding: 0px;
  	margin: 0px;
  }
  .title{
	font-size: 70%%; 
}
.cardprice{
	font-size:  50%;
	font-family: 'Times New Roman', Times, serif,italic;
    color:rgb(148, 67, 67);
	
}
}