.cl1{


max-width: 3in;
margin: 30px;
max-height: 3in;
overflow: hidden;
}
.cl1 :hover{
	text-decoration-color: red;
}
h6{

}
div img{
	
	width: 150px;
	height: 150px;

}
.bd{
	background-color: rgba(82, 242, 101,.3);
}