.item{
	/*transform: translateY(30%);*/
	transform: translateY(10%);
	max-width: 100%;
	margin-top: 5px;
	background-color: white;
	border: 1px solid green;
	border-radius: 0px 30px;
	box-shadow: 7px 7px 20px black;
}
.item img{
	height: 400px;
	width: 400px;
	padding: 10px;
	margin: 30px 10px 10px 10px;
	box-shadow: 3px 3px 12px black;
	border-radius: 9px;
	max-width: 100%;

}

div ul{
	display: block;
	list-style-type: none;
}
ul li h1{
	display: inline-block;
	margin-right: 2px;
}
.btnn{
	margin-left: 5px;
	margin-right: 10px;
	height: 40px;
	width: 100px;
	text-shadow: 3px 3px 4px white;
	background-color: green;
	border-radius: 20px;
	box-shadow: 3px 3px 10px black;
}
.btn-info{
	padding: 5px;
	margin: 5px;
	
}
.btn-info:hover{
	color: white;
	text-shadow: 4px 4px 3px black;
	font-weight: bold;
	transition: .5s;
}
.btn-primary:hover{
	color: white;
	text-shadow: 4px 4px 3px black;
	font-weight: bold;
	transition: .5s;
}
.btn-warning{
	color: white;
	
}
.btn-warning:hover{
	color: white;
	text-shadow: 4px 4px 3px black;
	font-weight: bold;
	transition: .5s;
}
.load{
	transform: translateY(400px);
}
.pcolor
{
	color: rgb(0, 0, 0);
	font-size: 15px;
}
#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: rgb(63, 63, 63);
	color: #fff;
	text-align: center;
	border-radius: 10px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
  }
  .not-admin{
	transform: translateY(40%);
	max-width: 70%;
	height: 10rem;
	line-break: loose;
	text-align: center;
	align-items: center;
	padding-top: 30px;
	margin-top: 200px;
	background-color: white;
	border: 1px solid green;
	border-radius: 0px 30px;
	box-shadow: 7px 7px 20px black;
	font-size: 4rem;
  }
  #snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
  }
	@media only screen and (max-width: 1000px){
	.item{
	/*transform: translateY(30%);*/
	max-width: 100%;
	padding: 0px 0px 10px 0px;
	background-color: white;
	border: 1px solid green;
	border-radius: 0px 30px;
	box-shadow: 7px 7px 20px black;
}
.item img{
	height: initial;
	width: 70%;
	padding: 10px;
	margin: 30px 10px 10px 10px;
	box-shadow: 3px 3px 12px black;
	border-radius: 9px;
	max-width: 100%;

}
}
	@media only screen and (max-width: 800px){
	.item{
		height: initial;
	max-width: 100%;
	padding: 0px 0px 10px 0px;
	background-color: white;
	border: 1px solid green;
	border-radius: 0px 30px;
	box-shadow: 7px 7px 20px black;
}
.item img{
	height: initial;
	width: 50%;
	padding: 10px;
	margin: 30px 10px 10px 10px;
	box-shadow: 3px 3px 12px black;
	border-radius: 9px;
	max-width: 100%;

}
}