.btn {
	background-color: #f4511e;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	opacity: 0.6;
	transition: 0.3s;
	position: relative;
	top :10px
  }
  
.btn:hover {opacity: 0.8}

.container{
	display:grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	overflow: hidden;
}
.addItemcss{
	margin-top: 50px;
	
}
@media screen and (max-width: 1200px)
{
.home{
	display:grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;

}


}
@media screen and (max-width: 800px)
{
.home{
	display:grid;
	grid-template-columns: 1fr;
	overflow: hidden;

}


}
.load{
	transform: translateY(400px);
}