.btn-body {
	background-color: #f4511e;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;

	transition: 0.3s;
	position: relative;
	top :10px
    
  }
  
.btn-body:hover {opacity: 0.8}

.home-container{
	padding-top: 5rem;
	display:grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;

	overflow: hidden;
}
.addItemcss{
	margin-top: 50px;
	
}
.main-body{
	padding-bottom: 30px;
	/*padding-right: 35px;*/	
	height: inherit;
	width: 100%;
	background: linear-gradient(to bottom,#ffffff 0%, #00cc66 66%);
	/* background: linear-gradient(to bottom right, #66ffff 0%, #000000 100%); */
}
@media screen and (max-width: 1000px)
{

.home-container{
	display:grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;

}


}
@media screen and (max-width: 800px)
{
.home{
	display:grid;
	grid-template-columns: 1fr;
	overflow: hidden;

}
.main-body{
	margin-top: 0px;

	}


}
.load{
	color: white;
	top: calc(50%);
	left: calc(50%);
	transform: translateY(400px);

}
.main-body{
	margin-top: 50px;
	background: linear-gradient(to bottom,#ffffff 0%, #00cc66 66%);
	/* background: linear-gradient(to bottom right, #66ffff 0%, #000000 100%); */
}
.body-home{
	margin-top: 100px;
}
