.container{
	display:grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	overflow: hidden;
}
.addItemcss{
	margin-top: 50px;
	
}
@media screen and (max-width: 1200px)
{
.home{
	display:grid;
	grid-template-columns: 1fr 1fr;
	overflow: hidden;

}


}
@media screen and (max-width: 800px)
{
.home{
	display:grid;
	grid-template-columns: 1fr;
	overflow: hidden;

}


}