.wd{
	width: 250px; 

} 


.home{
	margin-top: 0px;
}

.bk{
	height: auto;
	min-height: 100%;
	width: 100%;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background: radial-gradient(to bottom right,#ffffff 0%, #00cc66 66%);

}
